:root {
    font-size: 62.5%;
    color: black;
}

/* Background Image */

body {
    margin: auto;
    background-image: url("https://image.freepik.com/free-photo/wooden-texture_1208-334.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-right 0.5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

h2 {
    text-align: center;
    font-size: 6rem;
    color: #e88252;
}

/* Login form */

form {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Sofia';
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}