/* Style the "Create account" page */

body {
    padding: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

.cancel-btn:hover,
.submit-btn:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.cancel-btn {
    padding: 14px 20px;
    background-color: #f44336;
}

.submit-btn {
    background-color: #4caf50;
}

/* Float cancel and signup buttons and add an equal width */
.cancel-btn,
.submit-btn {
    float: left;
    width: 50%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-align: center;
}

.cancel-btn {
    color: black;
}

.cancel-btn:hover {
    color: black;
    text-decoration: none;
}

.form-container {
    opacity: 0.8;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
